<section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 topmargin-sm">
          <h3>
            Are you interested in my profile?
            <b>Let's arrange a job interview</b>
          </h3>
          <p>
            You can complete the form or contact me through the following
            channels:
          </p>
          <div class="d-flex justify-content-end mx-1">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons" routerLink="/nuevocontacto" *ngIf="isLogged">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="add-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
          <div *ngFor="let Contacto of contacto">
            <div class="p-1 bd-highlight">
              <div class="d-flex justify-content-end">
                <div class="p-1 bd-highlight" *ngIf="isLogged">
                  <button type="button" id="" class="edit-buttons" routerLink="/editcontacto/{{ Contacto.id }}">
                    <ion-icon
                      style="background: none; border-radius: 0"
                      name="pencil-sharp"
                    ></ion-icon>
                  </button>
                </div>
                <div class="p-1 bd-highlight" *ngIf="isLogged">
                  <button type="button" id="" class="edit-buttons" (click)="delete(Contacto.id)">
                    <ion-icon
                      style="background: none; border-radius: 0"
                      name="trash-outline"
                    ></ion-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="d-flex justify-content-start">
                <div class="p-1 bd-highlight d-none d-sm-block">
                  <p>
                    <ion-icon
                      name="mail-outline"
                      style="
                        color: rgb(25, 62, 228);
                        font-size: 25px;
                        cursor: auto;
                        background: none;
                        border-radius: 0;
                      "
                    >
                    </ion-icon>
                  </p>
                </div>
                <div class="p-0 bd-highlight">
                  <p>{{ Contacto.email }}</p>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="d-flex justify-content-start">
                <div class="p-1 bd-highlight">
                  <p>
                    <ion-icon
                      name="logo-whatsapp"
                      style="
                        color: rgb(119, 233, 25);
                        font-size: 25px;
                        cursor: auto;
                        background: none;
                        border-radius: 0;
                      "
                    >
                    </ion-icon>
                  </p>
                </div>
                <div class="p-0 bd-highlight">
                  <p>{{ Contacto.telefono }}</p>
                </div>
              </div>
            </div>
            <div class="p-1 bd-highlight">
              <div class="d-flex justify-content-start">
                <div class="p-1 bd-highlight">
                </div>
                <div class="p-0 bd-highlight">
                  <p>{{ Contacto.otroMedio }}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-6 topmargin-sm">
          <form action="https://formsubmit.co/yesicaguidounla@hotmail.com" method="POST" target="_blank">
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id=""
                  placeholder="Name"
                  required
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="lastname"
                  id=""
                  placeholder="Last name"
                  required
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id=""
                  placeholder="Email"
                  required
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="companyname"
                  id=""
                  placeholder="Company name"
                  required
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="number"
                  class="form-control"
                  name="phone"
                  id=""
                  placeholder="Phone number (optional)"
                />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea
                  class="form-control"
                  name="message"
                  id=""
                  placeholder="Write your message"
                  rows="3"
                  required
                ></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" id="" class="btn btn-dark full-width">
                Send
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="paper-plane-outline"
                ></ion-icon>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </section>