<div class="container-fluid">
    <div class="content-center">
        <div class="p-5">
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="email"><b>Email</b></label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="email@dominio.com" [(ngModel)]="email" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>Celular</b></label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="+549 11 5555 5555"[(ngModel)]="telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="otroMedio"><b>Describa otro medio de comunicación (opcional)</b></label>
                        <input type="text" class="form-control" id="otroMedio" name="otroMedio" [(ngModel)]="otroMedio" >
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success">
                            Agregar datos de Contacto
                        </button>
                        <!-- <a href="http://localhost:4200" class="btn btn-success">Volver</a> -->
                        <a href="https://alfonsinadvp.web.app" class="btn btn-success">Volver</a>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    
</div>
