<section id="portfolio" routerLink="/portfolio" class="divider">
    <div class="container-fluid">
      <div class="content-center">
        <h2>My projects</h2>
        <div class="p-2 bd-highlight">
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="pencil-sharp"
                ></ion-icon>
              </button>
            </div>
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="trash-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <h3>
          {{myPortfolio.description}}
        </h3>
      </div>
  
      <div class="content-center">
        <div class="d-flex justify-content-end">
          <div class="p-1 bd-highlight">
            <button type="button" id="" class="edit-buttons">
              <ion-icon
                style="background: none; border-radius: 0"
                name="add-outline"
              ></ion-icon>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <div class="p-1 bd-highlight">
            <button type="button" id="" class="edit-buttons">
              <ion-icon
                style="background: none; border-radius: 0"
                name="trash-outline"
              ></ion-icon>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <a
              href="https://github.com/AlfonsinaGuido/PortfolioWebBootstrap.git"
              class="btn topmargin-sm"
            >
              <img src="assets/images/bootstrap-logo.png" class="portfolio-logo" />
            </a>
            <a
              href="https://github.com/AlfonsinaGuido/Front-End-Angular.git"
              class="btn topmargin-sm"
            >
              <img src="assets/images/Angular-logo.png" class="portfolio-logo" />
            </a>
            <a href="" class="btn topmargin-sm">
              <img src="assets/images/Firebase-logo.png" class="portfolio-logo" />
            </a>
          </div>
  
          <div class="col-md-4">
            <a href="" class="btn topmargin-sm">
              <img src="assets/images/POO-logo.png" class="portfolio-logo" />
            </a>
            <a href="" class="btn topmargin-sm">
              <img
                src="assets/images/Spring boot-logo.png"
                class="portfolio-logo"
              />
            </a>
            <a href="" class="btn topmargin-sm">
              <img src="assets/images/HEROKU-logo.png" class="portfolio-logo" />
            </a>
          </div>
          <div class="col-md-4">
            <a href="" class="btn topmargin-sm">
              <img
                style="width: 65px"
                src="assets/images/Java-logo.png"
                class="portfolio-logo"
              />
            </a>
            <br>
            <a href="https://github.com/AlfonsinaGuido/DataBase.git" class="btn topmargin-sm">
              <img src="assets/images/MySQL-logo.png" class="portfolio-logo" />
            </a>
            <a href="" class="btn topmargin-sm">
              <img
                src="assets/images/Clever Cloud-logo.png"
                class="portfolio-logo"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
