#home {
    background-size: cover;
    padding-top: 180px;
    min-height: 800px;
    color: #ffffff;
}


#home-p {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    font-weight: 600
}

#home-img {
    max-width: 200px;
    margin: 50px 0;
}

h1 {font-size: 35px; line-height: 50px; text-shadow: black 1px 0 10px;}
@media (max-width: 576px) { 
    h1 { font-size: 25px; line-height: normal; }
    #home-p { font-size: 20px; line-height: normal; }
    #home-img { max-width: 150px; }
    #home {
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 50px;
        min-height: 600px;
    }
}
