<section id="about" class="divider">
    <div class="container-fluid">
      <div class="content-center">
        <h2>Who am I?</h2>
        <div class="d-flex justify-content-end">
          <div class="p-1 bd-highlight">
            <button type="button" id="" class="edit-buttons">
              <ion-icon
                style="background: none; border-radius: 0"
                name="pencil-sharp"
              ></ion-icon>
            </button>
          </div>
          <div class="p-1 bd-highlight">
            <button type="button" id="" class="edit-buttons">
              <ion-icon
                style="background: none; border-radius: 0"
                name="trash-outline"
              ></ion-icon>
            </button>
          </div>
        </div>
        <h3>I am a <b>Web Developer</b> and a Graduate in Tourism</h3>
        <p>
          {{myPortfolio.about}}
        </p>
      </div>
    </div>
  </section>
