<div class="container-fluid" *ngIf="about">
    <div class="content-center">
        <div class="p-5">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="about"><h1><b>Breve descripción acerca de sí mismo</b></h1></label>
                        <textarea cols="50" rows="5" type="text" class="form-control" id="about" name="about" [(ngModel)]="about.about" required></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-success">
                            Modificar descripción
                        </button>
                        <!-- <a href="http://localhost:4200" class="btn btn-success">Volver</a> -->
                        <a href="https://alfonsinadvp.web.app" class="btn btn-success">Volver</a>
                    </div>  
                </form>
            </div>
        </div>
    </div>
    
</div>