<section id="footer" class="border-light-purple">
    <div class="container">
      <img
        src="assets/images/LOGO.svg"
        class="logo-brand"
        alt="Logo"
        style="margin-bottom: 20px"
      />
      <ul class="list-inline">
        <li class="list-inline-item footer-menu">
          <a href="#home">Home</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#about">About</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#experience">Work Experience</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#studies">Education</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#skills">Skills</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#projects">Projects</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <small> Try, fail and try again. That is the path to success.
        <br/>
        <b>Believe in yourself </b>
        <ion-icon
          style="
            color: #5c92ee;
            cursor: auto;
            background: none;
            border-radius: 0;
          "
          name="sparkles-outline"
        ></ion-icon>
        <br/>
        &#169; Copyright YAG - {{ year }}
      </small>
    </div>
  </section>