<section id="footer" class="bg-light-blue">
    <div class="container">
      <img
        src="assets/images/LOGO.png"
        class="logo-brand"
        alt="logo"
        style="margin-bottom: 20px"
      />
      <ul class="list-inline">
        <li class="list-inline-item footer-menu">
          <a href="#hero">Home</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#about">About</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#technologies">Education and Technologies</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#portfolio">Portfolio</a>
        </li>
        <li class="list-inline-item footer-menu">
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/alfonsina-guido/"
            ><ion-icon style="color: #5c0303" name="logo-linkedin"></ion-icon
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/alfonsinaguido/"
            ><ion-icon style="color: #5c0303" name="logo-instagram"></ion-icon
          ></a>
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.google.com.ar/maps/place/Santa+Anita,+Entre+R%C3%ADos/@-39.8419731,-69.8897935,4.5z/data=!4m5!3m4!1s0x95b1bed65cf67ced:0x9d5d964830dfda26!8m2!3d-32.1757845!4d-58.7861762"
            ><ion-icon
              style="color: #5c0303"
              name="location-outline"
            ></ion-icon
          ></a>
        </li>
      </ul>
      <small
        >{{myPortfolio.myPhrase}}
        <b>Believe in yourself</b>
        <ion-icon
          style="
            color: #eb671b;
            cursor: auto;
            background: none;
            border-radius: 0;
          "
          name="sparkles-outline"
        ></ion-icon
      ></small>
    </div>
  </section>