<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <img src="{{ persona.logo }}" class="logo-brand" alt="logo" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#MenuNavegacion"
      aria-controls="MenuNavegacion"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <ion-icon
        style="background: none; border-radius: 0; color: #eb671b"
        name="grid-outline"
      ></ion-icon>
    </button>

    <div class="collapse navbar-collapse" id="MenuNavegacion">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link" href="home" aria-current="page">Home</a>
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link" href="about" aria-current="page">About</a>
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link" href="experience" aria-current="page">Work Experience</a>
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link" href="studies" aria-current="page"
            >Education and Skills</a
          >
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link" href="portfolio" aria-current="page"
            >Portfolio</a
          >
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <a class="nav-link" href="contact" aria-current="page">Contact</a>
        </li>
        <li class="nav-item" style="padding: 0px 20px">
          <button type="button" class="btn btn-outline-primary" style= "font-size: 20px; 
          font-weight: 650" (click)="login()" *ngIf="!isLogged">Login</button>
          <button type="button" class="btn btn-outline-primary" style= "font-size: 20px; 
          font-weight: 650"(click)="onLogOut()" *ngIf="isLogged"><b>Logout</b></button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="home" class="divider" style="background-image: url('{{ persona.imgFondo }}')">
  <div class="container">
    <div class="d-flex justify-content-end">
      <div class="p-1 bd-highlight">
        <button type="button" id="" class="edit-buttons">
          <ion-icon
            style="background: none; border-radius: 0"
            name="pencil-sharp"
          ></ion-icon>
        </button>
      </div>
    </div>
    <div class="content-center">
      <h1>I am {{ persona.nombre }} {{ persona.apellido }}</h1>
      <img id="home-img" src="{{ persona.img }}"
      alt="Foto perfil"/>
      <div class="d-flex justify-content-end">
        <div class="p-1 bd-highlight">
          <button type="button" id="" class="edit-buttons">
            <ion-icon
              style="background: none; border-radius: 0"
              name="pencil-sharp"
            ></ion-icon>
          </button>
        </div>
      </div>
      <p id="home-p">{{ persona.profesion }}</p>
      <br />
      <a download="CV" href="{{ persona.cv }}" class="btn btn-light topmargin-sm"
        >Download CV (Spanish)
        <ion-icon
          name="archive-outline"
          style="margin: auto 5px; font-size: 25px; color: #1a1a1a"
        ></ion-icon
      ></a>
    </div>
  </div>
</section>
