.navbar{ 
    background-color: #aee8f7;
    box-shadow: 0 6px 6px 0 rgba(120, 0, 0, 0.3);
    min-height: 100px;
    font-size: 25px; 
    font-weight: 600;
    position: sticky;
}
    

.nav-link{ color: #ac0d0d;}
.nav-link:hover{ color: #eb3a1b;}

.navbar-toggler { font-size: 40px; }
/* .navbar-toggler:focus { outline: none; } */