<section id="studies" class="divider">
    <div class="container-fluid">
      <div class="content-center">
        <h2>My studies and skills</h2>
        <div class="p-0 bd-highlight">
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="add-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="p-1 bd-highlight">
            <div class="p-0 bd-highlight">
              <br>
              <img
                src="assets/images/Inti.png"
                class="bg-dark-blue logo-brand"
                alt="logo"
              />
            </div>
          </div>
          <div class="p-1 bd-highlight">
            <h4><b>{{myPortfolio.training.certification}}</b></h4>
            <h5>(<time>{{myPortfolio.training.start}}</time>-><time>{{myPortfolio.training.end}}</time>)</h5>
            <h4><i>{{myPortfolio.training.name}}</i></h4>
          </div>
  
          <div class="p-1 bd-highlight">
            <div class="d-flex justify-content-end">
              <div class="p-1 bd-highlight">
                <button type="button" id="" class="edit-buttons">
                  <ion-icon
                    style="background: none; border-radius: 0"
                    name="pencil-sharp"
                  ></ion-icon>
                </button>
              </div>
              <div class="p-1 bd-highlight">
                <button type="button" id="" class="edit-buttons">
                  <ion-icon
                    style="background: none; border-radius: 0"
                    name="trash-outline"
                  ></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
        <div class="d-flex justify-content-start">
          <div class="p-1 bd-highlight">
            <div class="p-0 bd-highlight">
              <img src="assets/images/UNLa.png" class="logo-brand" alt="logo" />
            </div>
          </div>
          <div class="p-1 bd-highlight align-self-center">
            <h4><b>{{myPortfolio.school.title}}</b></h4>
            <h5>(<time>{{myPortfolio.school.start}}</time>-><time>{{myPortfolio.school.end}}</time>)</h5>
            <h4><i>{{myPortfolio.school.name}}</i></h4>
          </div>
          <div class="p-1 bd-highlight">
            <div class="d-flex justify-content-end">
              <div class="p-1 bd-highlight">
                <button type="button" id="" class="edit-buttons">
                  <ion-icon
                    style="background: none; border-radius: 0"
                    name="pencil-sharp"
                  ></ion-icon>
                </button>
              </div>
              <div class="p-1 bd-highlight">
                <button type="button" id="" class="edit-buttons">
                  <ion-icon
                    style="background: none; border-radius: 0"
                    name="trash-outline"
                  ></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container-fluid">
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="add-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="trash-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <div class="p-0 bd-highlight">
              <img src="assets/images/Hard Skills.png" class="skills-img" />
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="add-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div class="p-1 bd-highlight">
              <button type="button" id="" class="edit-buttons">
                <ion-icon
                  style="background: none; border-radius: 0"
                  name="trash-outline"
                ></ion-icon>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-start">
            <div class="p-0 bd-highlight">
              <img src="assets/images/Soft Skills.png" class="skills-img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
