h2 { font-size: 30px; line-height: normal; }

@media (max-width: 576px) { 
    h2 { font-size: 25px; line-height: normal; }
    h3 { font-size: 20px; line-height: normal; }
    h4 { font-size: 18px; line-height: normal; }
}